<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %} | Rohan Sports</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/d61201e24d.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RohanSports</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/services">Cricket</a></li>
              <li><a class="dropdown-item" href="/services">Football</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/services">Volleyball</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control search-input" type="search" placeholder="Search" aria-label="Search">
          <button class="btn search-btn" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 " role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% comment %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script> {% endcomment %}

    {% block body %}{% endblock body %}
    <link rel="stylesheet" href="../static/css/styles.css">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
  {% comment %} Welcome {request user} {% endcomment %}
  <div class="logout" class="btn btn-info">
    <a href="/logout">
      LogOut
    </a>
  </div>

  
  <!-- Remove the container if you want to extend the Footer to full width. -->

  <!-- Footer -->
  <div>
    <div class="footer-controls">
      <!-- Grid container -->
      <!-- Grid column -->
      <div class="footer-controls-items">
        <h4>Rohan Sports:</h4>
        <p>
          This is the best Sports website in town.
          Thank you for visiting.
        </p>
      </div>
      <!-- Grid column -->
      <div class="footer-controls-items">
        <h4>Equipments:</h4>
        <p>
          <a>Cricket</a>
        </p>
        <p>
          <a>Football</a>
        </p>
        <p>
          <a>Volleyball</a>
        </p>
        <p>
          <a>Badminton</a>
        </p>
      </div>
      <!-- Grid column -->
      <div class="footer-controls-items">
        <h4>Contact:</h4>
        <div class="info-item">
          <i class="fa fa-home"></i>
          <span>Kabilpore,Navsari,Gujarat</span>
        </div>
        <div class="info-item">
          <i class="fa fa-envelope"></i>
          <span>roh_mist@gmail.com</span>
        </div>
        <div class="info-item">
          <i class="fa fa-phone"></i>
          <span>+91 7866587454</span>
        </div>
        <div class="info-item">
          <i class="fa fa-print"></i>
          <span>+91 4557563466</span>
        </div>
      </div>
      <!-- Grid column -->
      <div class="footer-controls-items contact-icons">
        <h4>Follow us:</h4>
        <div class="contact-icon">
        <!-- Facebook -->
          <a href="https://www.facebook.com/mistry.rohan.3">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <!-- Twitter -->
          <a href="https://twitter.com/" role="button">
            <i class="fab fa-twitter"></i>
          </a>
          <!-- Google -->
          <a href="https://mail.google.com/" role="button">
            <i class="fab fa-google"></i>
          </a>
          <!-- Instagram -->
          <a href="https://www.instagram.com/roh_mist_40/" role="button">
            <i class="fab fa-instagram"></i>
          </a>
          <!-- Linkedin -->
          <a href="https://www.linkedin.com/in/rohan-mistry-81b4bb224/" role="button">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <!-- Github -->
          <a href="https://github.com/Rohan-231/" role="button">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      © 2023 Copyright:
      <a href="#">RohanSports.com</a>
    </div>
  </div>
  <!-- Footer -->

  <!-- End of .container -->
</body>

</html>