{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="/static/img/cus1.jpg" class="d-block w-100 mx-0" alt="">
</div>
<div>
    <h2 class="text-center"> Contact Us</h2>
    <form method = "post" action = "/contactus">
        {% csrf_token %}
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="name" class="form-control" id="name" name = "name" placeholder = "Enter your name" aria-describedby="emailHelp">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name = "email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name = "password">
            </div>
            <div class="mb-3">
                <label for="phonenumber" class="form-label">Phone number</label>
                <input type="PhoneNumber" class="form-control" id="Phone Number" name = "phonenumber" placeholder = "Enter your number" aria-describedby="emailHelp">

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
</div>
{% endblock body %}