{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}
{% block body %}

{% comment %} <link rel="stylesheet" href="../static/css/styles.css"> {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static '../static/css/styles.css' %}">

<div class="container-fluid px-0">
    <img src="/static/img/cus1.jpg" class="d-block w-100 mx-0" alt="">
</div>

<div class="contactus">
    <h2 class="text-center">Contact Us</h2>
    <form class="form-control" method="post" action="/contactus">
        {% csrf_token %}
            <div class="input-control">
                <input type="name" id="name" name="name" placeholder="YOUR NAME"
                aria-describedby="emailHelp" required>
            </div>
            <div class="input-control">
                <input type="email" id="exampleInputEmail1" name="email" placeholder="EMAIL"
                aria-describedby="emailHelp" required>
            </div>
            <div class="input-control">            
                <input type="password" id="exampleInputPassword1" name="password" placeholder="PASSWORD" required>
            </div>
            <div class="input-control">            
                <input type="PhoneNumber" id="Phone Number" name="phonenumber"
                    placeholder="CONTACT NO." aria-describedby="emailHelp" required>
            </div>
            <div class="buttons">
                <input type="button" value="SUBMIT">
            </div>
    </form>
</div>
{% endblock body %}