{% extends 'base.html' %}

{% block title %}Services{% endblock title %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static '../static/css/styles.css' %}">

<section class="py-5 text-center container services mt-5">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="my-4">Branded Products</h1>
      <p>Some of the best sports equipment at such a low prices. All top sports
        brands equipments are available.
        Sale Starts Soon !!!!!!</p>
    </div>
  </div>
</section>

<div class="album py-5 services-body">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-3 services-items">
    <div class="col">
      <div class="card">
        <img src="/static/img/nb.webp" class="d-block w-100" alt="..." height="255">
        <div class="card-body pb-0">
          <p class="card-text mb-3">The NB DC 590 is the first on the budget lineup made from SH grade 4 Willow.
            Although it is a budget bat, it has lots of grain and a spotless front face. It has a consistent,
            almost full profile and a mid-to-low sweet spot. The big semi-rounded handle and a thick shoulder
            balance the whole weight nicely and provide a great pickup.</p>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-5 text-capitalize">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Check Price</button>
            </div>
            <small class="text-capitalize">Available</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/static/img/bat.webp" class="d-block w-100" alt="..." height="255">
        <div class="card-body pb-0">
          <p class="card-text mb-3">The MRF 490 is the first on the budget lineup made from SH grade 4 Willow. Although
            it is a budget bat, it has lots of grain and a spotless front face. It has a consistent, almost full
            profile and a mid-to-low sweet spot. The big semi-rounded handle and a thick shoulder balance the
            whole weight nicely and provide a great pickup.</p>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Check Price</button>
            </div>
            <small class="text-capitalize">Available</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/static/img/gn.png" class="d-block w-100" alt="..." height="255">
        <div class="card-body pb-0">
          <p class="card-text mb-3">The GN F90 is the first on the budget lineup made from SH grade 4 Willow. Although
            it is a budget bat, it has lots of grain and a spotless front face. It has a consistent, almost full
            profile and a mid-to-low sweet spot. The big semi-rounded handle and a thick shoulder balance the
            whole weight nicely and provide a great pickup.</p>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Check Price</button>
            </div>
            <small class="text-capitalize">Available</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card ">
        <img src="/static/img/nst.jpeg" class="d-block w-100" alt="..." height="255">
        <div class="card-body pb-0">
          <p class="card-text mb-3">Whether you're starting out or just playing for fun, the Club boot gets you on the
            pitch without compromising on quality. With synthetic leather and asymmetric lacing, they help provide
            precision touch to help you bury all goals in the back of the net or set up a teammate with a pinpoint
            pass that swings the game in your favour.</p>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Check Price</button>
            </div>
            <small class="text-capitalize">Available</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card ">
        <img src="/static/img/fb.jpg" class="d-block w-100" alt="..." height="255">
        <div class="card-body pb-0">
          <p class="card-text mb-3">Al Hilm, which translates as “The Dream” in Arabic, follows on from the Official
            Match Ball of the group stages, Al Rihla, or “The Journey”. The ball was also designed with the
            environment at its heart - all components have been carefully considered; first
            FIFA World Cup™ semi-finals and final ball made using only water-based inks and glues.</p>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Check Price</button>
            </div>
            <small class="text-capitalize">Available</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card ">
        <img src="/static/img/vb.jpg" class="d-block w-100" alt="..." height="255">
        <div class="card-body pb-0">
          <p class="card-text mb-3">You are going to find different sizes of volleyballs available. Some people
            encourage young people to use smaller weight and size balls for practice when they first begin in the
            sport. Though getting on the court with only experience on a smaller ball may not be helpful, there is
            some value to the smaller size balls. These are exquisitely built.</p>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Check Price</button>
            </div>
            <small class="text-capitalize">Available</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card ">
        <img src="/static/img/bd.jpg" class="d-block w-100" alt="..." height="255">
        <div class="card-body pb-0">
          <p class="card-text mb-3">Yonex's badminton rackets generally fall into three different categories based on
            their characteristics: Power, Speed, and Control. The categories serve as useful guidance to the
            rackets' traits and they make it easier for a player to narrow down his or her racket selections
            depending on their personal preferences. Available at a discount rate.</p>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Check Price</button>
            </div>
            <small class="text-capitalize">Available</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card ">
        <img src="/static/img/sc.jpg" class="d-block w-100" alt="..." height="255">
        <div class="card-body pb-0">
          <p class="card-text mb-3">Yonex's Shuttles generally fall into three different categories based on their
            characteristics: Power, Speed, and Control. The categories serve as useful guidance to the rackets'
            traits and they make it easier for a player to narrow down his or her racket selections depending on
            their personal preferences. Available at a discount rate.</p>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Check Price</button>
            </div>
            <small class="text-capitalize">Available</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/static/img/as.jpg" class="d-block w-100" alt="..." height="255">
        <div class="card-body pb-0">
          <p class="card-text mb-3">It is no secret that sports activities are the keys to healthy living and healthy
            thinking. When children regularly engage in physical gaming activity, we can say they are walking
            towards building a good life. They will have a good physique and, at the same time, the power of
            critical thinking, which is required to live in today’s highly competitive world.</p>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Check Price</button>
            </div>
            <small class="text-capitalize" class="text-capitalize">Available</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock body %}